<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.MongoDB" />
    </extensions>
    <targets>
      <target name="Mongo" type="MongoDB" database="playme" collectionName="Logging" />
      <target name="logfile" xsi:type="File" fileName="c:\data\playmelog.txt" />
      <target name="console" xsi:type="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="*" minLevel="Info" appendTo="Mongo" />
    </rules>
  </nlog>
  <appSettings>
    <add key="DatabaseConnectionString" value="mongodb://localhost/" />
    <add key="DatabaseName" value="playme" />
    <add key="Spotify.IsEnabled" value="true" />
    <add key="Spotify.UserName" value="" />
    <add key="Spotify.Password" value="" />
    <add key="Spotify.ApplicationKey" value="AVt4wm8gmZ0GbHGiVOm04uVxg7xSrsCcHDnr6Pg6G6TfEoKKLmlFhTnc6keYnwApldJTh5pSUBqRhJT5m35UCzKkIqMH0nxwakwLmXlniE4pSRMAbirA09TFLq/QEiuAMbLlVl4xcHTVFTcA0ebh6MSdrIh0oI/OGltb1JBdz9QBxN8uOdeiFuu6gtGhHOAXDi6zywJ2hBaeGubfghHT2X0XXI4AbNr+NEHWe85lrrB8a0mj465hEcxirvn1woLBwZtnfmjamN9Qs2wbXhJ20cU11qqcUe7YTUw6WdzPgHTAgipGbCQ+9VEy3hjyxKF2AGRTmniQy+MXai6y8e5jghL0uGoH/jdYCPqLH87mPddXb/qI7sh7bbpneY7iCkTAwHQpt/SLgj/tdGlgp/DSkYdTt1Z72sGNda+sel1PHvbk" />
    <add key="AdminUsers" value="" />
    <add key="Domain" value="COMPANY\" />
    <add key="StartUpVolumePercentage" value="10" />
    <add key="MaxAutoplayableTracks" value="20" />
    <add key="MinAutoplayableTracks" value="3" />
    <add key="VetoCount" value="3" />
    <add key="Randomizer" value="0" />
    <add key="Randomizers" value="0;1;2;3" />
    <add key="RandomizerRatio" value="10" />
    <add key="DontRepeatTrackForHours" value="0" />
    <add key="MusicService.AutoStart" value="true" />
    <add key="SoundBoard.IsEnabled" value="false" />
    <add key="SoundBoard.SecondsBetweenSkipThreshold" value="15" />
    <add key="SoundCloud.IsEnabled" value="false" />
    <add key="SoundCloud.UserName" value="" />
    <add key="SoundCloud.Password" value="" />
    <add key="SoundCloud.ClientId" value="" />
    <add key="SoundCloud.ClientSecret" value="" />
    <add key="QueueRuleSetting.QueueCount" value="5" />
    <add key="QueueRuleSetting.LastXHours" value="4" />
    <add key="SearchRuleSetting.ForbiddenTrackNames" value="Karaoke,tribute,Wrecking Ball" />
    <add key="SearchRuleSetting.ForbiddenAlbumNames" value="Karaoke,tribute" />
    <add key="SearchRuleSetting.ForbiddenArtistNames" value="Karaoke,tribute" />
    <add key="VetoHelper.ExceededDailyLimitVetoRule.DailyVetoLimit" value="20" />
    <add key="TwitterBroadcaster.IsEnabled" value="false" />
    <add key="TwitterBroadcaster.ConsumerKey" value="" />
    <add key="TwitterBroadcaster.ConsumerSecret" value="" />
    <add key="TwitterBroadcaster.Token" value="" />
    <add key="TwitterBroadcaster.TokenSecret" value="" />
    <add key="ForgetTrackThatExceedsMaxVetoes" value="true"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/Services/SpotifyCallbackService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpotifyCallbackService" contract="PlayMeCallbackServiceReference.ISpotifyCallbackService" name="BasicHttpBinding_ISpotifyCallbackService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISpotifyCallbackService" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBindingConfig" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="131072" maxConnections="10" maxReceivedMessageSize="524288">
          <readerQuotas maxDepth="32" maxStringContentLength="16384" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="PlayMe.Server.MusicService">
        <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBindingConfig" contract="PlayMe.Server.Interfaces.IMusicService" name="MusicService" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/PlayMe.server/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ewk.Extensions" publicKeyToken="0ffe897e6e5722cd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.4678.15497" newVersion="1.1.4678.15497" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>