<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ewk.Extensions" version="1.1.4759.21149" targetFramework="net45" />
  <package id="Ewk.SoundCloud.ApiLibrary" version="1.1.4809.41996" targetFramework="net45" />
  <package id="jQuery" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.0.0" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.8.3" targetFramework="net45" />
  <package id="NAudio" version="1.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="Ninject.Extensions.Conventions" version="3.0.0.11" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="NLog.MongoDB" version="0.7.0" targetFramework="net45" />
  <package id="RestSharp" version="104.4.0" targetFramework="net45" />
  <package id="SlowCheetah" version="2.5.10.3" targetFramework="net45" />
  <package id="TweetSharp" version="2.3.1" targetFramework="net45" />
</packages>